{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Connected Services" noop %}</h1>

    <ul>
        {% for service_abbreviation, details in all_services %}
            <li>
                {% if service_abbreviation in connected_services %}
                    Connected with {{details.name}}
                    <form action="{{details.disconnect_url}}" method="POST">
                        {% csrf_token %}
                        <input type='submit' value='disconnect'>
                    </form>
                    </a>
                {% else %}
                    <a href="{{details.connect_url}}">
                        Connect with {{details.name}}
                    </a>
                {% endif %}
            </li>
        {% endfor %}

        {% for social_auth in object_list %}
            <dt class="top"><br>Provider</dt>
            <dd>{{social_auth.provider}}</dd>
            <dt class="top"><br>Account</dt>
            <dd>{{social_auth.uid}}</dd>
        </a>
        {% endfor %}
    </ul>
    
{% endblock %}