{% load i18n %}
<html>
<head>
<title>{% block pagetitle %}share2grandma - {% trans "put title variable here @todo" noop %}{%endblock%}</title>
<style type="text/css">
    dt { font-weight: bold; display: inline; }
    dd { display: inline; margin-right: 2em; }
    .top dt { margin-top: 1em; }
</style>
{% block scripts %}{% endblock %}
</head>
<body>
{% block header %}
<div id='header'>
{% if user.is_authenticated %}{% trans "Hello" noop %} {{user.username}}.  <a href="{% url "django.contrib.auth.views.logout" %}">{% trans "Logout" noop %}</a>
{% else %}<a href="{% url "login" %}">{% trans "Login" noop %}</a>
{% endif %}
<dl>
    <dt><a href="{% url "dashboard_main" %}">Dashboard</a></dt>
    <dt><a href="{% url "recipient_create" %}">Add a Recipient</a></dt>
    <dt><a href="{% url "subscription_create_tumblr" %}">Add Subscription</a></dt>
    <dt><a href="{% url "subscription_list" %}">Subscription List</a></dt>
</dl>
</div>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>

