{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Details" noop %}</h1>
    <dl>
        <dt class="top"><br>{% trans "User" noop %}</dt>
        <dd>{{ object.user }}</dd>
        <dt>{% trans "Enabled?" noop %}</dt>
        <dd>{{ object.enabled }}</dd>
        <dt>{% trans "Short name" noop %}</dt>
        <dd>{{ object.short_name }}</dd>
        <dt>{% trans "Pretty name" noop %}</dt>
        <dd>{{ object.pretty_name }}</dd>
        <dt>{% trans "Avatar" noop %}</dt>
        <dd><img src="{{ object.avatar }}"></dd>
    </dl>
{% endblock %}