{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Share2Grandma Dashboard" %}</h1>
    {% if user.first_name %}
        <p>{% blocktrans with fname=user.first_name lname=user.last_name %}Your name is {{fname}} {{lname}}. {% endblocktrans %}
    {% elif user.username %}
        <p>{% blocktrans with name=user.username %}Your username is {{name}}. {% endblocktrans %}
    {% endif %}

    <p>{% blocktrans with date=user.date_joined %}You joined Share2Grandma on {{ date }}.{% endblocktrans %}</p>

    {% if user.has_usable_password %}
        <p>{% blocktrans with username=user.username %}
            You have a local Share2Grandma account.  Your username is {{ username }}.  <a href="@todo">Click
            here</a> to change your password.
        {% endblocktrans %}</p>
    {% else %}
        <p>{% blocktrans%}You do not have a Share2Grandma username and password.{% endblocktrans %}
            <a href="{% url 'registration_register' %}">{% trans "Click here" context "to do x" %}</a> {% trans "to create a username and password on Share2Grandma." context "do x to ..." %}
        </p>
    {% endif %}

    <p>
    {%  if myemail %}
        {% blocktrans with myemail=user.s2g_email %}
            Email to your recipients is dispatched from {{ myemail }}.  <strong>You must add this address to
            your recipients' whitelists on Presto℠</strong> or your messages won't go through!
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            You don't have an outgoing email address.  That's weird.
        {% endblocktrans %}
    {% endif %}
    </p>

{% if user.social_auth.all %}
    <h2>{% trans "Your service connections" %}</h2>
    <p>{% blocktrans %}You've connected these sites to your Share2Grandma account.  You may be able to log in, subscribe to feeds, or
        both, from these services.{% endblocktrans %}</p>
    <ul>
    {% for auth in user.social_auth.all %}
        {% blocktrans with service=auth.provider uid=auth.uid %}
            <li>[logo] {{service}} as {{uid}}</li>
        {% endblocktrans %}                    
    {% endfor %}
    </ul>
{% else %}
<h2>{% trans "You haven't added any service connections." %}</h2>
{% endif %}
You can add more service connections by <a href="{% url "auth_login" %}">{% trans "Logging in again." noop %}</a>



<h2>{% trans "Your recipients" %}</h2>

    <p>{% blocktrans %}You have set up these recipients.  Each recipient can subscribe to different feeds, and you can customize how
    your name and telephone number appears to each recipient.{% endblocktrans %}</p>

    <ul>
    {% if user.recipients.count %}
        {% for recipient in user.recipients.all %}
        <li>
            <a href="{% url 'recipient_detail' recipient.pk %}">
                {% blocktrans with name=recipient.name date=recipient.add_date %}
                    {{ name }}</a>, added on {{ date }}
                {% endblocktrans %}
            <a href="{% url 'recipient_update' recipient.pk %}">
                {% trans "Edit" %}
            </a>
            <a href="{% url 'recipient_delete' recipient.pk %}">
                {% trans "Delete" %}
            </a>
        </li>
            <ul>
                <li>{% blocktrans with name=recipient.sender_name phone=recipient.sender_phone %}
                    Sees your name as {{ name }} and your telephone number as {{ phone }}.
                {% endblocktrans %}</li>
                <li>
                    {% if recipient.is_on_vacation %}
                    {% with recipient.get_current_vacation as vacation %}
                    {% url 'vacation_cancel' pk=vacation.pk as cancel_url %}
                    {% blocktrans with start=vacation.start_date end=vacation.end_date %}
                    On vacation from {{ start }} to {{ end }} and won't receive items.
                    <a href="{{cancel_url}}">Cancel?</a>
                    {% endblocktrans %} 
                    {% endwith %}
                    {% endif %}
                    <ul id='upcoming_vacations'>
                    {% for vacation in recipient.get_upcoming_vacations %}
                    <li>
                    {% url 'vacation_cancel' pk=vacation.pk as cancel_url %}                    
                    {% blocktrans with start=vacation.start_date end=vacation.end_date %}
                    Has an upcoming vacation from {{start}} to {{end}}.  <a href="{{cancel_url}}">Cancel?</a>
                    {% endblocktrans %}</li>
                    {% empty %}<li>No future vacations scheduled.</li>
                    {% endfor %}    
                    <li><a href="{% url 'vacation_create' recipient_id=recipient.pk %}">{% blocktrans %}Create a vacation?{% endblocktrans %}</a></li>
                    </ul>
                </li>
                <li>{% blocktrans with email=recipient.email %}
                    Receives messages at {{ email }}
                {% endblocktrans %}</li>
<!--                <li>{% blocktrans with postcode=recipient.postcode %}
                    Receives Daily Wakeup weather forecast for this postal code: {{ postcode }}
                {% endblocktrans %}</li> -->
                <li>{% trans "Subscriptions:" %}
                    <ul>
                    {% if recipient.subscriptions %}
                        <li>{% blocktrans %}Recipient has subscriptions set up. @todo include list template here.{% endblocktrans %}</li>
                        <li><a href="{% url 'subscription_create_tumblr' %}">{% trans "Add another subscription?" %}</a></li>
                    {% else %}
                        <li>{% trans "Recipient has no subscriptions set up." %} <a href="{% url 'subscription_create_tumblr' %}">{% trans "Add some?" context "add some subscriptions?" %}</a></li>
                    {% endif %}
                    </ul>
                </li>
            </ul>
        </li>
        {% endfor %}
        <li><a href="{% url 'recipient_create' %}">{% trans "Add another recipient?" %}</a></li>
    {% else %}
        <li>{% trans "You have no recipients set up." %} <a href="{% url 'recipient_create' %}">{% trans "Add some recipients?" %}</a></li>
    {% endif %}
    </ul>
{% endblock %}